.container{
    width: 80%;
    //height: 600px;
    background-color: #27293d;
    //padding-top: 1%;
    padding-bottom: 2%;
    //position: absolute;
    margin-top:10%;
    
    
    
}
.Big-container{
    //position: relative;
}

img{
    width: 105%;
    height: 108%;
    left: 10%
}