.container{
    width: 80%;
    //height: 600px;
    background-color: #27293d;
    //padding-top: 1%;
    //padding-bottom: 1%;
    //position: absolute;
    margin-top:10%;
    
    
    
}
.Big-container{
    //position: relative;
}