.container{
    width: 80%;
    //height: 600px;
    background-color: #27293d;
    //padding-top: 1%;
    padding-bottom: 2%;
    padding-left: 0%;
    padding-right: 0%;
    //position: absolute;
    margin-top:10%;
    
    
    
}
.Big-container{
    position: relative;
}

img{
    width: 100%;
    height: 106%;
    //left: 10%
}