<div class="navbar navbar-expand-md ">



  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <h2 style="color: white; text-indent: 5.0; text-align: center;">EarthTones Banking Co.</h2>
</div>


  <div class="form-inline my-2 my-lg-0">

    <div ngbDropdown class="nav-item dropdown">
      <a ngbDropdownToggle class="nav-link dropdown-toggle"  id="dropdown01" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">Menu</a>
      <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
        <a class="dropdown-item"[routerLink]="['']">Log Out</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
  </div>

</div>