
<!-- Header -->
<header class="w3-display-container w3-content w3-center" style="max-width:2000px">
    <img class="w3-image" src="../../assets/pexels-cottonbro-5909816 (1).jpg" alt="Me" width="100%" height="440">
    <div class="w3-display-middle w3-padding-large w3-border w3-wide w3-text-light-grey w3-center">
    
      <h5 class="w3-hide-large" style="white-space:nowrap">Hi Devante</h5>
      <h1 class="w3-hide-medium w3-hide-small w3-xxxlarge">Welcome To EarthTones Banking!</h1>
      
      <h5 class="w3-hide-large" style="white-space:nowrap">Harness The Power of Your Dollar</h5>
      <!-- <h3 class="w3-hide-medium w3-hide-small">Banking Made Easy</h3> -->
    </div>
    
   
  </header>
  
  <!-- Navbar on small screens -->
  <div class="w3-center w3-light-grey w3-padding-16 w3-hide-large w3-hide-medium">
 
  </div>


<button type="button" class="btn" style="background-color: white;"  (click)="onSelect()">Next</button>


