<div>

<div id="HASH">
    <span>  <h6 style="text-align: left; font-weight: bolder;">{{transactions[counter].description}}<br></h6>  <h6 style="text-align: left; font-weight: lighter;">{{transactions[counter].date}}</h6></span>


    <div *ngIf="transactions[counter].amount > 0; else elseBlock">
        <span style="color: lightgreen; margin-top: 3%;">${{transactions[counter].amount}}</span> 
    </div>
    <ng-template #elseBlock> <span style="color:red; margin-top: 3%;">${{transactions[counter].amount}}</span> </ng-template>


   
</div>




</div>