<div class="container">

    <h1 style="color: white; text-align: center;">Select exactly {{iterator}} amounts </h1>
    <br>
    <div class="card-columns">



        <div class="card bg-primary" id="test" (click)="clickEvent(0)" [ngClass]="array[0] ? 'success' : 'danger'">
            <p style="text-align: center; margin: 0;"> - $1</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(1)" [ngClass]="array[1] ? 'success' : 'danger'">
            <p style="text-align: center; margin: 0;"> - $12</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(2)" [ngClass]="array[2] ? 'success' : 'danger'">
            <p style="text-align: center; margin: 0;"> - $29</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(3)" [ngClass]="array[3] ? 'success' : 'danger'">
            <p style="text-align: center; margin: 0;"> $- 50</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(4)" [ngClass]="array[4] ? 'success' : 'danger'">
            <p style="text-align: center; margin: 0;"> - $104</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(5)" [ngClass]="array[5] ? 'success' : 'danger'">
            <p style="text-align: center; margin: 0;"> $150</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(6)" [ngClass]="array[6] ? 'success' : 'danger'">
            <p style="text-align: center; margin: 0;"> $195</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(7)" [ngClass]="array[7] ? 'success' : 'danger'">
            <p style="text-align: center; margin: 0;"> - $200</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(8)" [ngClass]="array[8] ? 'success' : 'danger'">
            <p style="text-align: center; margin: 0;"> - $225</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(9)" [ngClass]="array[9] ? 'success' : 'danger'">
            <p style="text-align: center; margin: 0;"> - $250</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(10)" [ngClass]="array[10] ? 'success' : 'danger'">
            <p style="text-align: center; margin: 0;"> $288</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(11)" [ngClass]="array[11] ? 'success' : 'danger'">
            <p style="text-align: center; margin: 0;"> $317</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(12)" [ngClass]="array[12] ? 'success' : 'danger'">
            <p style="text-align: center; margin: 0;"> - $334</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(13)" [ngClass]="array[13] ? 'success' : 'danger'">
            <p style="text-align: center; margin: 0;"> - $482</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(14)" [ngClass]="array[14] ? 'success' : 'danger'">
            <p style="text-align: center; margin: 0;"> - $577</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(15)" [ngClass]="array[15] ? 'success' : 'danger'">
            <p style="text-align: center; margin: 0;"> $611</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(16)" [ngClass]="array[16] ? 'success' : 'danger'">
            <p style="text-align: center; margin: 0;"> $641</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(17)" [ngClass]="array[17] ? 'success' : 'danger'">
            <p style="text-align: center; margin: 0;"> - $690</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(18)" [ngClass]="array[18] ? 'success' : 'danger'">
            <p style="text-align: center; margin: 0;"> -$721</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(19)" [ngClass]="array[19] ? 'success' : 'danger'">
            <p style="text-align: center; margin: 0;"> $1009</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(20)" [ngClass]="array[20] ? 'success' : 'danger'">
            <p style="text-align: center; margin: 0;"> $1291</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(21)" [ngClass]="array[21] ? 'success' : 'danger'">
            <p style="text-align: center; margin: 0;"> $1456</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(22)" [ngClass]="array[22] ? 'success' : 'danger'">
            <p style="text-align: center; margin: 0;"> - $1987</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(23)" [ngClass]="array[23] ? 'success' : 'danger'">
            <p style="text-align: center; margin: 0;"> $2899</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(24)" [ngClass]="array[24] ? 'success' : 'danger'">
            <p style="text-align: center; margin: 0;"> $3780</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(25)" [ngClass]="array[25] ? 'success' : 'danger'">
            <p style="text-align: center; margin: 0;"> - $3567</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(26)" [ngClass]="array[26] ? 'success' : 'danger'">
            <p style="text-align: center; margin: 0;"> $6158</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(27)" [ngClass]="array[27] ? 'success' : 'danger'">
            <p style="text-align: center; margin: 0;"> - $17</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(28)" [ngClass]="array[28] ? 'success' : 'danger'">
            <p style="text-align: center; margin: 0;"> -$33</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(29)" [ngClass]="array[29] ? 'success' : 'danger'">
            <p style="text-align: center; margin: 0;"> - $90</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(30)" [ngClass]="array[30] ? 'success' : 'danger'">
            <p style="text-align: center; margin: 0;"> $67</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(31)" [ngClass]="array[31] ? 'success' : 'danger'">
            <p style="text-align: center; margin: 0;"> - $44</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(32)" [ngClass]="array[32] ? 'success' : 'danger'">
            <p style="text-align: center; margin: 0;"> - $119</p>
        </div>


        <div class="card bg-primary" id="test"  (click)="clickEvent(33)" [ngClass]="array[33] ? 'success' : 'danger'">
            <p style="text-align: center; margin: 0;"> $183</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(34)" [ngClass]="array[34] ? 'success' : 'danger'">
            <p style="text-align: center; margin: 0;"> - $202</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(35)" [ngClass]="array[35] ? 'success' : 'danger'">
            <p style="text-align: center; margin: 0;"> - $7</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(36)" [ngClass]="array[36] ? 'success' : 'danger'">
            <p style="text-align: center; margin: 0;"> $919</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(37)" [ngClass]="array[37] ? 'success' : 'danger'">
            <p style="text-align: center; margin: 0;"> - $81</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(38)" [ngClass]="array[38] ? 'success' : 'danger'">
            <p style="text-align: center; margin: 0;"> - $222</p>
        </div>




    </div>

    <button type="button" class="btn" style="background-color: white;" [disabled]="buttonDisabled" (click)="onSelect()">Next</button>
</div>