#main-card.card{
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    width: 80%;
    //box-shadow: 0 .5rem 1rem rgba(#000, .15) ;
}

#bottom-card{
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    width:89%
}

.card-deck{
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    width:95%
}

h4{
    margin: 0 auto;
    justify-content: space-between;
    display: inline-block;
    padding-bottom: 2%;
    
    
}

  .card{
   
   
    border: 0;
    position: relative;
    //width: 100%;
    margin-bottom: 30px;
   box-shadow: 0 .5rem 1rem rgba(#000, .15) ;

    .card-header{
      background:  #27293d;
      padding: 15px 15px 0;
      border: 0;
      color: rgba(#f1f1f1,0.8);

      .card-title{
          color: f1f1f1;
          font-weight: 100;
      }
 }
}


