<div class="wrapper">

    <div class="card text-center  rounded" id="main-card" style="background-color: #27293d;" id="box1"> 
        
        <div class="vertical-menu">
        Lorem ipsum dolor,
        sit amet consectetur adipisicing elit. Nam sit fugiat veritatis, quisquam, voluptatem error nemo mollitia
        dolores
        voluptatibus esse ab velit nesciunt harum, magnam quae! Delectus modi pariatur aliquid? Lorem ipsum, dolor sit
        amet
        consectetur adipisicing elit. Cupiditate ad, doloribus ullam officiis sequi tenetur! Hic veritatis similique
        natus
        quisquam dolor culpa eius enim ad. Officia architecto ex ducimus ad!
        </div>

    </div>

    <div class="card text-center  rounded" id="main-card" style="background-color: #27293d;" id="box2"> 
        <div class="vertical-menu">
            Lorem ipsum dolor,
            sit amet consectetur adipisicing elit. Nam sit fugiat veritatis, quisquam, voluptatem error nemo mollitia
            dolores
            voluptatibus esse ab velit nesciunt harum, magnam quae! Delectus modi pariatur aliquid? Lorem ipsum, dolor sit
            amet
            consectetur adipisicing elit. Cupiditate ad, doloribus ullam officiis sequi tenetur! Hic veritatis similique
            natus
            quisquam dolor culpa eius enim ad. Officia architecto ex ducimus ad!
            <app-transaction-card *ngFor="let a of fakeArray; let x = index" [counter] = x [account_number] = 8000003 ></app-transaction-card>
            </div>
    </div>

    <div class="card text-center  rounded" id="main-card" style="background-color: #27293d;" id="box3"> 
        <div class="vertical-menu">
            Lorem ipsum dolor,
            sit amet consectetur adipisicing elit. Nam sit fugiat veritatis, quisquam, voluptatem error nemo mollitia
            dolores
            voluptatibus esse ab velit nesciunt harum, magnam quae! Delectus modi pariatur aliquid? Lorem ipsum, dolor sit
            amet
            consectetur adipisicing elit. Cupiditate ad, doloribus ullam officiis sequi tenetur! Hic veritatis similique
            natus
            quisquam dolor culpa eius enim ad. Officia architecto ex ducimus ad!
            </div>
    </div>
    <div class="card text-center  rounded" id="main-card" style="background-color: #27293d;" id="box4">
        <div class="vertical-menu">
            Lorem ipsum dolor,
            sit amet consectetur adipisicing elit. Nam sit fugiat veritatis, quisquam, voluptatem error nemo mollitia
            dolores
            voluptatibus esse ab velit nesciunt harum, magnam quae! Delectus modi pariatur aliquid? Lorem ipsum, dolor sit
            amet
            consectetur adipisicing elit. Cupiditate ad, doloribus ullam officiis sequi tenetur! Hic veritatis similique
            natus
            quisquam dolor culpa eius enim ad. Officia architecto ex ducimus ad!
            </div>
    </div>
    





  

   <a [routerLink]="['']"><button class="btn btn-success pull-right" > Back To Homepage</button></a> 
    <div>