<div class="wrapper">

    <div class="card text-center  rounded" id="main-card" style="background-color: #27293d" id="box1">
        <div class="card-header" style = "background-color: black;">
          <!-- <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>

        -->
            <h4 style="text-align: left; font-weight: lighter;">Account: {{acctNum}}</h4>
        </div>

            
        <div class="card-body" style = "background-color: black; height: 100%;" >
        
            <div class="card-deck" style=" justify-content: center; height: 110;">
                <app-table-two [acct_num]= acctNum></app-table-two>
           
            
                <app-table-three [acct_num]= acctNum></app-table-three>
           
            
                <app-table-four [acct_num]= acctNum></app-table-four>
            </div>
            
            
        </div>

    

</div>




<div class="card text-center  rounded" id="main-card" style="background-color: #27293d;" id="box2">
    <div class="card-header" style = "background-color: black;">
        <h3 style="text-align: left; font-weight: lighter;">Transactions: {{acctNum}}</h3>
        <h5 style="text-align: left; font-weight: lighter;">balance: ${{account.balance}}</h5>
    </div>
    <hr style=" background-color: #ccc; width:50%; margin:0 auto;">
    <div class="card-body" style = "background-color: black; height: 100%;">

        <app-transaction-card style="padding: 50%; margin:0 auto" *ngFor="let a of fakeArray; let x = index" [counter]=x
            [account_number]= acctNum.toString() >

        </app-transaction-card>
    </div>
</div>




<div class="card text-center  rounded" style="background-color: #27293d;" id="box3">
    <div class="card-header" style = "background-color: black;">
        <h4 style="text-align: left; font-weight: lighter;">Income/Expenses: {{acctNum}}</h4>
    </div>
    <div class="card-body" style = "background-color: black; height: 100%;">
        <div style="width: 100%; height: 80vh;">
            <app-table-five [acct_num]= acctNum></app-table-five>
        </div>
    </div>
</div>


<div class="card text-center" style="background-color: #27293d;">
    <div class="card-header" style = "background-color: black;">

    </div>
    <div class="card-body" style = "background-color: black;" >
        <h4 class="card-title" style="font-weight: lighter;">Time to get strategic!</h4>
        <p class="card-text" style="font-weight: lighter;">Further organize your financials goals with one of our checking, savings or credit
            accounts! </p>
        <a href="#" class="btn btn-primary">Create New Account</a>
    </div>
</div>








<a [routerLink]="['/main-page']"><button class="btn btn-success pull-right"> Back To Homepage</button></a>


</div>