.container{
    margin: auto;
    width: 50%;
   // height: 500px;
    //border: 3px solid green;
    padding: 10px;
    //position: relative;
}
.card{
    //position: absolute;
   // border: 5px solid;
    //border-color: rgba(255, 99, 132, 1);
    height: 40px;
    //width: 10%;
}

p{
    color:white;
    //text-align: center;
    //margin: 0;
}

img{
    justify-self: left;
    display: inline-block;
   // border-radius: 50%;
    width: 60px;
    height: 38px;
}

.danger{

    border: 5px solid white;
    img{
        height: 30px;
    }
}

#test:hover{

    //border: 8px solid blue;
    transform: scale(1.1);
}