<div class="container">

    <h1 style="color: white; text-align: center;">Select 21 or more Transactions</h1>
    <br>
    <div class="card-columns">



        <div class="card bg-primary" id="test" (click)="clickEvent(0)" [ngClass]="array[0] ? 'success' : 'danger'">
            <p> <img class="card-img-top" src="../../assets/nike_store.jpg" alt="Card image cap"> Nike Store</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(1)" [ngClass]="array[1] ? 'success' : 'danger'">
            <p> <img class="card-img-top" src="../../assets/rent.jpg" alt="Card image cap"> Rent</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(2)" [ngClass]="array[2] ? 'success' : 'danger'">
            <p> <img class="card-img-top" src="../../assets/car_img.png" alt="Card image cap"> Car Payment</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(3)" [ngClass]="array[3] ? 'success' : 'danger'">
            <p> <img class="card-img-top" src="../../assets/youtube_tv.png" alt="Card image cap"> Youtube TV</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(4)" [ngClass]="array[4] ? 'success' : 'danger'">
            <p> <img class="card-img-top" src="../../assets/netflix.jpg" alt="Card image cap"> Netflix</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(5)" [ngClass]="array[5] ? 'success' : 'danger'">
            <p> <img class="card-img-top" src="../../assets/hulu.png" alt="Card image cap"> Hulu</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(6)" [ngClass]="array[6] ? 'success' : 'danger'">
            <p> <img class="card-img-top" src="../../assets/disney.jpg" alt="Card image cap"> Disney +</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(7)" [ngClass]="array[7] ? 'success' : 'danger'">
            <p> <img class="card-img-top" src="../../assets/publix.png" alt="Card image cap"> Publix Groccery</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(8)" [ngClass]="array[8] ? 'success' : 'danger'">
            <p> <img class="card-img-top" src="../../assets/walmart.jpg" alt="Card image cap"> Walmart</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(9)" [ngClass]="array[9] ? 'success' : 'danger'">
            <p> <img class="card-img-top" src="../../assets/cvs.jpg" alt="Card image cap"> CVS</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(10)" [ngClass]="array[10] ? 'success' : 'danger'">
            <p> <img class="card-img-top" src="../../assets/walgreens.jpg" alt="Card image cap"> Walgreens</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(11)" [ngClass]="array[11] ? 'success' : 'danger'">
            <p> <img class="card-img-top" src="../../assets/home_depot.png" alt="Card image cap"> Home Depot</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(12)" [ngClass]="array[12] ? 'success' : 'danger'">
            <p> <img class="card-img-top" src="../../assets/lowes.jpg" alt="Card image cap"> Lowes</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(13)" [ngClass]="array[13] ? 'success' : 'danger'">
            <p> <img class="card-img-top" src="../../assets/subway.png" alt="Card image cap"> Subway Resturaunt
            </p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(14)" [ngClass]="array[14] ? 'success' : 'danger'">
            <p> <img class="card-img-top" src="../../assets/T-mobile.jpg" alt="Card image cap"> T Mobile</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(15)" [ngClass]="array[15] ? 'success' : 'danger'">
            <p> <img class="card-img-top" src="../../assets/target.jpg" alt="Card image cap"> Target</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(16)" [ngClass]="array[16] ? 'success' : 'danger'">
            <p> <img class="card-img-top" src="../../assets/changs.jpg" alt="Card image cap"> PF Chang's</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(17)" [ngClass]="array[17] ? 'success' : 'danger'">
            <p> <img class="card-img-top" src="../../assets/starbucks.png" alt="Card image cap"> Starbucks</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(18)" [ngClass]="array[18] ? 'success' : 'danger'">
            <p> <img class="card-img-top" src="../../assets/car_insurance.png" alt="Card image cap"> Car Insurance</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(19)" [ngClass]="array[19] ? 'success' : 'danger'">
            <p> <img class="card-img-top" src="../../assets/fiver.png" alt="Card image cap"> Fiver Payment</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(20)" [ngClass]="array[20] ? 'success' : 'danger'">
            <p> <img class="card-img-top" src="../../assets/paychec.png" alt="Card image cap"> Paycheck</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(21)" [ngClass]="array[21] ? 'success' : 'danger'">
            <p> <img class="card-img-top" src="../../assets/car_insurance.png" alt="Card image cap"> Car Insurance</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(22)" [ngClass]="array[22] ? 'success' : 'danger'">
            <p> <img class="card-img-top" src="../../assets/widthdraw.jpg" alt="Card image cap"> Withdrawl</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(23)" [ngClass]="array[23] ? 'success' : 'danger'">
            <p> <img class="card-img-top" src="../../assets/deposit.jpg" alt="Card image cap"> Deposit</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(24)" [ngClass]="array[24] ? 'success' : 'danger'">
            <p> <img class="card-img-top" src="../../assets/interest.jpg" alt="Card image cap"> Interest Payment</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(25)" [ngClass]="array[25] ? 'success' : 'danger'">
            <p> <img class="card-img-top" src="../../assets/dentist.png" alt="Card image cap"> Dentistry</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(26)" [ngClass]="array[26] ? 'success' : 'danger'">
            <p> <img class="card-img-top" src="../../assets/ortho.png" alt="Card image cap">Orthodontist</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(27)" [ngClass]="array[27] ? 'success' : 'danger'">
            <p> <img class="card-img-top" src="../../assets/paychec.png" alt="Card image cap"> Payroll</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(28)" [ngClass]="array[28] ? 'success' : 'danger'">
            <p> <img class="card-img-top" src="../../assets/widthdraw.jpg" alt="Card image cap"> Withdrawl</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(29)" [ngClass]="array[29] ? 'success' : 'danger'">
            <p> <img class="card-img-top" src="../../assets/go_daddy.png" alt="Card image cap"> Go Daddy.com</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(30)" [ngClass]="array[30] ? 'success' : 'danger'">
            <p> <img class="card-img-top" src="../../assets/adobe.png" alt="Card image cap"> Adobe Suite</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(31)" [ngClass]="array[31] ? 'success' : 'danger'">
            <p> <img class="card-img-top" src="../../assets/doordash.png" alt="Card image cap"> DoorDash</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(32)" [ngClass]="array[32] ? 'success' : 'danger'">
            <p> <img class="card-img-top" src="../../assets/udemy.png" alt="Card image cap">Udemy Online</p>
        </div>


        <div class="card bg-primary" id="test"  (click)="clickEvent(33)" [ngClass]="array[33] ? 'success' : 'danger'">
            <p> <img class="card-img-top" src="../../assets/zoom.png" alt="Card image cap"> US Zoom</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(34)" [ngClass]="array[34] ? 'success' : 'danger'">
            <p> <img class="card-img-top" src="../../assets/apple.png" alt="Card image cap"> Apple.com</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(35)" [ngClass]="array[35] ? 'success' : 'danger'">
            <p> <img class="card-img-top" src="../../assets/google.png" alt="Card image cap"> Google</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(36)" [ngClass]="array[36] ? 'success' : 'danger'">
            <p> <img class="card-img-top" src="../../assets/venmo.png" alt="Card image cap"> Venmo</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(37)" [ngClass]="array[37] ? 'success' : 'danger'">
            <p> <img class="card-img-top" src="../../assets/cash_app.png" alt="Card image cap">Cash App</p>
        </div>


        <div class="card bg-primary" id="test" (click)="clickEvent(38)" [ngClass]="array[38] ? 'success' : 'danger'">
            <p> <img class="card-img-top" src="../../assets/ups.png" alt="Card image cap">The UPS Store</p>
        </div>




    </div>

    <button type="button" class="btn" style="background-color: white;" [routerLink]="['/setup_three']">Next</button>
</div>